<template>
    <div>
        <div class="lds-ripple">
            <div></div><div></div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style>
    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 150px;
        height: 150px;
        padding: 10px;
        margin-top: 30px;
    }
    .lds-ripple div {
        position: absolute;
        border: 8px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
        0% {
            top: 70px;
            left: 70px;
            width: 0;
            height: 0;
            opacity: 0;
        }
        4.9% {
            top: 70px;
            left: 70px;
            width: 0;
            height: 0;
            opacity: 0;
        }
        5% {
            top: 70px;
            left: 70px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 0px;
            left: 0px;
            width: 140px;
            height: 140px;
            opacity: 0;
        }
    }
</style>