module.exports = {
    dialer: {
        url: 'https://uni-call.fcc-online.pl',
        login: '{{login}}',
        password: '{{password}}'
    },
    agent_number: {{number}},
    api: {
        prefix: '/api',
        url: '',
    },
    front: {
        url: ''
    }
}
