<template>
  <div class="box">
    <div class="text">A connection with a consultant is in progress</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ConnectedView',
})
</script>
