<template>
  <div class="box">
    <div class="text">You will be connected with a consultant soon</div>
    <MyLoader/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ViewManager from '../services/ViewManager'
import MyLoader from '@/components/MyLoader.vue'
//import RingingPhone from '@/components/RingingPhone.vue'

export default defineComponent({
  name: 'RingingView',
  mounted(): void {
    ViewManager.checkStatus()
  },
  components: { MyLoader },
})
</script>