<template>
  <div>
    <div class="header clearfix">We will call you back within 26 seconds</div>
    <label class="form-label clearfix" for="form-number">
      Please enter the phone number
    </label>
    <input v-model="number" class="form-number clearfix" id="form-number" />
    <div class="call-button" @click="call()">Call now</div>
    <RingingPhone/>
  </div>
</template>

<script lang="ts">
import * as config from '../../../config'
import { defineComponent } from 'vue'
import RingingPhone from '@/components/RingingPhone.vue'

export default defineComponent({
  data: () => ({
    number: '',
    loading: true
  }),
  methods: {
    async call() {
      const responseStream = await fetch( `${config.api.url}${config.api.prefix}/call`, {
        method: 'POST',
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
        body: JSON.stringify({ number: this.number }),
      })
      const response = await responseStream.json()
      this.$router.push({ name: 'ringing', params: { callsId: response.id } })
    },
  },
  components: { RingingPhone },
})
</script>
